@page
@model PrivacyModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p> Fill in your credentials</p>

<head>
    <style>
        body {
            background-color: orange;
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }

    </style>

    <style>
        body {
            background-image: url('img_girl.jpg');
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit">Login</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>

